.directions {
	padding: 5rem 0;
	.directions_header {
		text-align: center;
		margin-bottom: 50px;
		.directions_title {
			margin-bottom: 1rem;
		}
		.directions_subtitle {
			margin-bottom: 0;
		}
	}
	.directions_item {
		margin-bottom: 1rem;
		border: 15px solid #000;

		.directions_image {
			display: block;
			width: 100%;
			object-fit: cover;
			padding: 15px;
		}
		.directions_name {
			padding: 20px 0;
			margin-bottom: 0;
		}
	}
}