.directions {
	padding: 5rem 0;
	.directions_header {
		text-align: center;
		margin-bottom: 50px;
		.directions_title {
			margin-bottom: 1rem;
		}
		.directions_subtitle {
			margin-bottom: 0;
		}
	}
	.directions_item {
		margin-bottom: 2rem;

		.directions_box {
		border: 15px solid #333;
			padding: 25px;
			// background-image: url(../images/dist/brame/brame2_blue.png);
			// background-clip: border-box;
			// background-origin: border-box;
			// background-repeat: no-repeat;
			// background-size: 100% 100%;
		}
		.directions_image {
			display: block;
			width: 100%;
			object-fit: cover;
			// padding: 15px;
		}
		.directions_name {
			padding: 20px 25px;
			text-align: center;
			margin-bottom: 0;
		}
	}
}