// .background_header {
// 	background-image: url(../images/dist/background2.png);
// 	background-clip: border-box;
// 	background-origin: border-box;
// 	background-repeat: no-repeat;
// 	background-position: top;
// 	background-size: cover;
// 	height: 100vh;
// }
.form_title {
	margin-top: 5rem;
	margin-bottom: 2rem;
	text-align: center;
}
.form_signup {
	height: 70vh;
}