.menu_wrapper, .news_bar {
	width: 100%;
	position: relative;
		&:before {
			content: "";
			height: 100%;
			position: absolute;
			border-right: 1px solid rgba(#333, .15);
			border-bottom: 1px solid rgba(#333, .15);
			width: calc(100% + 12px);
			bottom: 0;
			left: -12px;
			z-index: 0;
			pointer-events: none;
		}
}
.menu_wrapper nav {
	padding: 2rem 1rem 2rem 0;
}
.menu_navi {
	display: flex;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
	min-height: 100px;
	li {
		list-style: none;
		margin-bottom: 5px;
		position: relative;
		z-index: 1;
		overflow: hidden;
		transition: all 0.3s ease;
		&:before {
			content: "";
			display: inline-block;
			position: absolute;
			width: 5px;
			height: 45px;
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
			transition: all .3s ease;
			// transform: translateY(-15px);
			transform: scale(0.5);
		}
		&:last-child {
			margin-bottom: 0;
		}
		.menu_link {
			position: relative;
			font-weight: 600;
			padding: 0 1rem;
			font-size: 20px;
			line-height: 45px;
			height: 45px;
			display: block;
			position: relative;
			&:hover {
				color: @textColor;
			}
		}
		&:hover {
			&:nth-child(1) {
				background-color: rgba(@redColor, .1);
				border-radius: 4px;
				&:before {
					background-color: @redColor;
					// transform: translateY(0);
					transform: scale(1);
				}
			}
			&:nth-child(2) {
				background-color: rgba(@orangeColor, .2);
				border-radius: 4px;
				&:before {
					background-color: @orangeColor;
					// transform: translateY(0);
					transform: scale(1);
				}
			}
			&:nth-child(3) {
				background-color: rgba(@yellowColor, .3);
				border-radius: 4px;
				&:before {
					background-color: @yellowColor;
					// transform: translateY(0);
					transform: scale(1);
				}
			}
			&:nth-child(4) {
				background-color: rgba(@greenColor, .2);
				border-radius: 4px;
				&:before {
					background-color: @greenColor;
					// transform: translateY(0);
					transform: scale(1);
				}
			}
			&:nth-child(5) {
				background-color: rgba(@blueColor, .2);
				border-radius: 4px;
				&:before {
					background-color: @blueColor;
					// transform: translateY(0);
					transform: scale(1);
				}
			}
			&:nth-child(6) {
				background-color: rgba(@purpleColor, .1);
				border-radius: 4px;
				&:before {
					background-color: @purpleColor;
					// transform: translateY(0);
					transform: scale(1);
				}
			}
		}
	}
}
.news_bar {
	padding: 2rem 1rem 2rem 1rem;
	.news_bar_header {
		font-size: 18px;
		margin-bottom: 20px;
	}
	.news_bar_list {
		list-style: none;
		padding-left: 0;
		margin-bottom: 0;
		li {
			display: flex;
			flex-direction: column;
			margin-bottom: 13px;
			font-size: 17px;
		}
		// С датой
		.news_bar_date, .news_bar_category {
			font-size: 12px;
			color: #8f8f8f;
			line-height: 1.3;
		}

		// КАТЕГОРИИ

		// .news_bar_category {
		// 	padding: 2px;
		// 	background-color: #27d10e;
		// 	border-radius: 3px;
		// 	color: #fff;
		// 	margin-right: 10px;
		// }
		// .news_bar_info {
		// 	display: flex;
		// 	justify-content: space-between;
		// }
	}
	.news_bar_all {
		margin-top: 20px;
	}
	.news_bar_all_link {
		font-size: 13px;
	}
}

.main_screen_wrap {
	height: 100%;
	margin: 0 3rem 0 0;
	.main_content {
		height: 100%;
	}
	.row {
		align-items: center;
		height: 100%;
		z-index: 1;
		position: relative;
	}
}
.form_title {
	font-size: 60px;
	line-height: 1.2;
	text-align: center;
	margin-left: 140px;
	margin-right: 20px;
	margin-bottom: 0;
	font-family: 'Paper', serif;
	text-transform: uppercase;
	letter-spacing: .02em;
}
.form_signup {
	// background: rgba(#969696, .189);
	// background: rgba(@redColor, .09);
	background: rgba(@blueColor, .1);
    padding: 65px 60px;
    // box-shadow: 15px 10px 100px 40px rgb(96 96 96 / 15%);
    // box-shadow: 15px 10px 100px 40px rgba(@redColor, .1);
    box-shadow: 15px 10px 100px 40px rgba(@blueColor, .12);
    border-radius: 5px;
    form {
    	display: flex;
    	flex-direction: column;
    	align-items: center;
    }
    input {
    	width: 100%;
    	height: 50px;
	    margin-bottom: 30px;
	    padding: 0 15px;
	    color: @textColor;
	    font-size: 16px;
	    background-color: #ffffff !important;
	    border-radius: 5px;
	    // border: 2px solid rgba(@textColor, .17);
	    border: 2px solid rgba(@blueColor, .17);
    }
    .form_btn:hover .text_btn {
		color: #e5f8fe;
	}
}

.btn_svg2 {
	max-width: 315px;
	height: 75px;
	// fill: rgba(@redColor, .2);
	fill: rgba(@blueColor, .2);
	transition: all 0.3s ease;
	&:hover {
		// fill: rgba(@redColor, .82);
		fill: rgba(@blueColor, .82);
	}
}

.main_content {
	position: relative;
	z-index: 1;
	.decors {
		position: absolute;
		z-index: -1;
	}
	.shape_flask {
		display: inline-block;
		width: 200px;
		height: 81vh;
		.flask {
			background-image: url(../images/dist/main_screen/flask.png);
			background-clip: border-box;
			background-origin: border-box;
			background-repeat: no-repeat;
			background-position: top left;
			background-size: contain;
			height: 81vh;
			width: 200px;
			left: -48px;
			top: 50px;
		}
		.flask_colors_yellow {
			background: url(../images/dist/main_screen/flask_color_yellow.svg);
		}
		.flask_colors_red {
			background: url(../images/dist/main_screen/flask_color_red.svg);
		}
		.flask_colors_blue {
			background: url(../images/dist/main_screen/flask_color_blue.svg);
		}
		.flask_position {
			background-clip: border-box;
			background-origin: border-box;
			background-repeat: no-repeat;
			background-size: contain;
			height: 186px;
			width: 167px;
			left: -48px;
			bottom: 91px;
		}
		.flask_animated_yellow {
			animation: flask_animation_yellow 20s infinite linear;
		}
		.flask_animated_red {
			animation: flask_animation_red 20s infinite linear;
		}
		.flask_animated_blue {
			animation: flask_animation_blue 20s infinite linear;
		}
	}
	.shapes1 {
		// background-image: url(../images/dist/main_screen/shapes1.png);
		background-clip: border-box;
		background-origin: border-box;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		height: 35%;
		width: 20%;
		right: 0;
		bottom: 5%;
		transform: rotate(20deg);
	}
	.shapes2 {
		background-clip: border-box;
		background-origin: border-box;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		// height: 20%;
		width: 25%;
		left: 30%;
		top: -1px;
	}
}

// @keyframes animationOne {
// 	0% {
// 	    transform: scale(1.3, 1.3);
// 	}
// 	50% {
// 		transform: scale(1, 1);
// 	}
// 	100% {
// 	    transform: scale(1.3, 1.3);
// 	}
// }
// @keyframes animationTwo {
// 	0% {
// 	    transform: scale(1.4, 1.4);
// 	}
// 	50% {
// 		transform: scale(1, 1);
// 	}
// 	100% {
// 	    transform: scale(1.4, 1.4);
// 	}
// }

@keyframes flask_animation_yellow {
	0% {
	    	opacity: .5;
	}
	20% {
	    	opacity: 1;
	}
	50% {
			opacity: 0;
	}
	100% {
	    	opacity: 1;
	}
}
@keyframes flask_animation_red {
	0% {
	    	opacity: 0;
	}
	50% {
			opacity: 1;
	}
	90% {
	    	opacity: 0;
	}
}
@keyframes flask_animation_blue {
	0% {
	    	opacity: 0;
	}
	50% {
			opacity: 0;
	}
	70% {
	    	opacity: 1;
	}
	90% {
		opacity: 0.1;
	}
	100% {
		opacity: 0;
	}
}


@media screen and (max-width: 991px) {
	.news_bar,  .menu_wrapper{
		display: none;
	}
	.main_screen_wrap {
		margin: 0;
	}
	.form_title {
	    font-size: 45px;
		margin: 0;
		margin-top: 4rem;
		margin-bottom: 1rem;
	}
	.main_content .shapes2 {
		left: 10%;
	}
}
@media screen and (max-width: 767px) {
	.form_title {
	    font-size: 36px;
		margin: 0;
		margin-top: 2rem;
	}
}
@media screen and (max-width: 575px) {
	.form_title {
		margin-top: 2rem;
		margin-bottom: 4rem;
	}
	.main_content .shape_flask {
		display: none;
	}
	.form_signup {
		padding: 2rem .5rem;
	}
}